@model AdminBanHoa.Models.DonHang

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Chỉnh Sửa</h2>
<p style="padding-left:20px;padding-top:20px;">
    @Html.ActionLink("Quay lại", "Index",null, new { @class = "btn btn-primary" })
</p>
<div class="background-dsdonhang">
    <div class="content1">
        <div class="dsdonhang">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>DonHang</h4>
                    <hr />
                    @Html.ValidationSummary(true)
                    @Html.HiddenFor(model => model.MaDH)

                    <div class="form-group">
                        @Html.LabelFor(model => model.MaDH, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">

                            <input value="@Model.MaDH" disabled="disabled" type="text" name="MaDH" />
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.MaKH, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input value="@Model.MaKH" type="text" disabled="disabled" name="MaKH" />

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NgayDatHoa, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input value="@Model.NgayDatHoa" type="datetime" disabled="disabled" name="NgayDatHoa" />

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.NgayGiaoHoa, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="datetime-local" name="NgayGiaoHoa" />

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.DiaChiGiaoHoa, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input value="@Model.DiaChiGiaoHoa" type="text" disabled="disabled" name="DiaChiGiaoHoa" />

                        </div>
                    </div>

                    <div class="form-group">
                        @*@Html.LabelFor(model => model.TinhTrangDH, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input type="text" name="TinhTrangDH" />

                        </div>*@
                        @Html.LabelFor(model => model.TinhTrangDH, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("TinhTrangDH", new List<SelectListItem>{
                            new SelectListItem{ Text="Xác Nhận", Value="Xác Nhận"},
                            new SelectListItem{ Text="Đang Giao Hàng", Value="Đang Giao Hàng"}
                            }
                            )

                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.PhuongThucTT, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <input value="@Model.PhuongThucTT" type="text" disabled="disabled" name="PhuongThucTT" />

                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Lưu" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }


        </div>
    </div>

</div>